@-webkit-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

::selection {
  background: #e0ebe8;
  color: #545454;
}

body {
  font-size:14px;
  color: #545454;
}

#top {
  padding-top: 0;
  overflow:hidden;
  background: #e0ebe8;
}

header {
  background:#e0ebe8;
  padding:2em 0;
}
.logo {
  -webkit-animation:fadeIn .3s ease-in-out;
  -moz-transition:fadeIn .3s ease-in-out;
  -o-transition:fadeIn .3s ease-in-out;
  transition:fadeIn .3s ease-in-out;
  width:68px;
  height:68px;
  margin:0;
  padding:0;
}
.nav-top {
  opacity:1;
  position:relative;
  width:100%;
  z-index:1000;
  -webkit-transform:translate3d(0,0,0);
}
.nav-fixed {
  opacity:1;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.nav-root {
  background:inherit;
}

.nav-list {
  padding-top:1.5em;
  padding-left:0;
  position:relative;
  float:right;
}
.nav-list li {
  display:block;
  float:left;
}
.nav-list li a {
  display:inline-block;
  text-decoration:none;
  color:#45b29a;
  font-weight:400;
  font-size:120%;
  margin:0 0 0 1em;
}
.nav-list li a:hover,.nav-list li a.active {
  color:#21564b;
}

.transition {
  -webkit-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

#title {
  position:relative;
  -webkit-animation:fadeIn .5s ease-in-out;
  -moz-transition:fadeIn .5s ease-in-out;
  -o-transition:fadeIn .5s ease-in-out;
  transition:fadeIn .5s ease-in-out;
}
.name {
  max-width:240px;
  color: #45b29a;
  font-size: 0px;
  font-family: 'Niconne', cursive;
  white-space: nowrap;
}
.name p {
  display: inline-block;
  font-size: 64px;
  margin-bottom: 0px;
}
.desc {
  color:#45b29a;
  font-size:150%;
  font-weight:400;
}

#iconspace {
  min-height: 300px;
}
.icon {
  position:absolute;
  width:125px;
  height:125px;
  -webkit-transition:all 1s ease-in-out;
  transition:all 1s ease-in-out;
  z-index:980;
}
.aws {
  background:url(../img/aws.svg) top left no-repeat;
  right: -2em;
  top: -1em;
}
.atom {
  background:url(../img/atom.svg) top left no-repeat;
  left: -2em;
  bottom: -5em;
}
.cpp {
  background:url(../img/cpp.svg) top left no-repeat;
  right: 2em;
  top: 14em;
}
.js {
  background:url(../img/js.svg) top left no-repeat;
  left: 8em;
  bottom: -16em;
}
.html5 {
  background:url(../img/html5.svg) top left no-repeat;
  right: 17em;
  top: 21em;
}

#hello h3 {
  color: #45b29a;
}
#hello p {
  font-size: 1.5em;
}
.break {
  max-width:100px;
}
.sep {
  background-image:url(../img/sep.png);
  height:6px;
  width:100%;
}

#projects h1 {
  color:#1e836c;
}


@media (min-width: 992px) {
  #top {
    padding-top:130px;
  }
  .nav-top {
    opacity:0;
    position:fixed;
    -webkit-transform:translate3d(0,-130px,0);
    -webkit-transition:.5s;
    transition:.5s;
    top:0;
  }
  .nav-fixed {
    -webkit-box-shadow:0 1px 1px rgba(6,8,8,.1);
    box-shadow:0 1px 1px rgba(6,8,8,.1);
    opacity:.97;
    -webkit-transition:all .8s;
    transition:all .8s;
    -webkit-backface-visibility:hidden;
    -webkit-perspective:1000;
    overflow:hidden;
    -webkit-transition-timing-function:ease-in-out;
    -webkit-transform:translate3d(0,0,0);
    background:#fff;
  }
  .nav-root {
    background:#E0EBE8;
    -webkit-box-shadow:none;
    box-shadow:none;
    -webkit-transition:all .8s;
    transition:all .8s;
  }
  .headroom--unpinned {
    top:-200px;
  }
  .nav-list li a {
    font-size:150%;
    margin:0 0 0 2em;
  }

  .name {
    max-width: 350px;
  }
  .name p {
    display: inline-block;
    font-size: 93.3px;
    margin-bottom: 0px;
  }

  .aws {
    right: 3em;
    top: -1em;
  }
  .atom {
    left: 1em;
    bottom: -6em;
  }
  .cpp {
    right: 10em;
    top: 16em;
  }
  .js {
    left: 19em;
    bottom: -18em;
  }
  .html5 {
    right: 24em;
    top: 26em;
  }
}

@media (max-width: 768px) {
  .html5 {
    right: 10em;
    top: 21em;
  }
}

@media (max-width: 525px) {
  .js {
    left: 3em;
    bottom: -16em;
  }
  .html5 {
    right: 4em;
    top: 24em;
  }
}
