/*
Author: Corey Mason
Author URI: http://coreysmason.com/
Version: 0.0.0
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Compass
2.0 - Vendor
3.0 - Modules and Variables
4.0 - Partials
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Compass
--------------------------------------------------------------*/
@import "compass";

/*--------------------------------------------------------------
2.0 Vendor
--------------------------------------------------------------*/
@import "vendor/settings";
@import "font-awesome";
@import "bootstrap";

/*--------------------------------------------------------------
3.0 Modules and Variables
--------------------------------------------------------------*/
@import "partials/base";

/*--------------------------------------------------------------
4.0 Partials
--------------------------------------------------------------*/
@import "partials/background";
