.header {
  background: #073642;
  padding: 0;
  overflow: hidden;
}

.background {
  position: absolute;
}

.intro {
  padding-bottom: 10px;
  color: #fff;
  position: relative;

  a:visited, a:link, a:active {
    color: #3498db;
  }
  a:hover {
    color: darken(#3498db, 10%);
  }
}

h1 {
  margin: 0;
  @media (max-width: $screen-xs-max) {
    font-size: 60px;
  }
  @media (min-width: $screen-sm-min) {
    font-size: 100px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 160px;
  }

}

h2 {
  margin-top: 0;
  color: #3498db;
  &:first-of-type {
    color: #fff;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 34px;
  }
  @media (min-width: $screen-sm-min) {
    font-size: 56px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 90px;
  }
}
